@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Sen&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin:0;
  font-family: 'Sen', sans-serif;
  font-weight: 400;
}

header {
  background-color: aquamarine;
  position: fixed;
  top: 0; 
  left: 0; 
  right: 0;
}

header::after{
  content:'';
  display:table;
  clear:both;
}

.navbarcontainer{
  width: 60%;
  margin: 0 auto;
}

.rgbot {
  font-size:16px;
  float: left;
  padding-top: 17px;
  padding-bottom: 14px;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 50px;
  padding-top: 17px;
  padding-bottom: 14px;

  position: relative;
}

nav a {
  font-size:16px;
  color: #444;
  text-decoration: none;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 3px;
  background-color: #444;

  position: absolute;
  top:0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}


.introdiv {
  width: 60%;
  margin: 160px auto 130px;
  text-align: center;
}

.introtext {
  font-family: 'Playfair Display', serif;
  font-size: 28px;
  font-weight: 200;
  display: inline-block
}

.portfoliocontainer div{

}

.portfoliocontainer {
  display: flex;
  width: 60%;
  margin: 0 auto;
}

.item1 {
  flex:1;
  background-image: url("1.png");
  background-color: #cccccc; 
  height: 250px;
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
}

.item2 {
  flex:1;
  background-image: url("1.png");
  background-color: #cccccc; 
  height: 250px;
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
}

.item3 {
  flex:1;
  background-image: url("1.png");
  background-color: #cccccc; 
  height: 250px;
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
}
.item4 {
  flex: 2;
  background-image: url("1.png");
  background-color: #cccccc; 
  height: 250px;
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
}
.item5 {
  flex: 1;
  background-image: url("1.png");
  background-color: #cccccc; 
  height: 250px;
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
}
.item6 {
  flex:1;
  background-image: url("1.png");
  background-color: #cccccc; 
  height: 250px;
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
}
.item7 {
  flex:2;
  background-image: url("1.png");
  background-color: #cccccc; 
  height: 250px;
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
}