@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Sen&display=swap');


body {
  margin:0;
  font-family: 'Sen', sans-serif;
  font-weight: 400;
}

header {
  background-color: aquamarine;
  position: fixed;
  top: 0; 
  left: 0; 
  right: 0;
}

header::after{
  content:'';
  display:table;
  clear:both;
}

.navbarcontainer{
  width: 50%;
  margin: 0 auto;
}

.rgbot {
  font-size:16px;
  float: left;
  padding-top: 17px;
  padding-bottom: 14px;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 50px;
  padding-top: 17px;
  padding-bottom: 14px;

  position: relative;
}

nav a {
  font-size:16px;
  color: #444;
  text-decoration: none;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 3px;
  background-color: #444;

  position: absolute;
  top:0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

.introsection {

}

.introdiv {
  width: 50%;
  margin: 180px auto;
  text-align: center;
}

.introtext {
  font-family: 'Playfair Display', serif;
  font-size: 34px;
  font-weight: 200;
  display: inline-block
}

.portfoliocontainer {
  
}

.item1 {
 
}